@page {
    margin: 0 0 0 0;
}

.ReportReceipt {
    max-width: 100mm;
    margin: auto;
    padding: 10px;
    color: #000;
    border: solid 3px #000;
}

.ReportReceipt svg {
    width: 100%;
}

.ReportReceipt-circle {
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
    border: solid 3px #000;
    border-radius: 50%;
}

.ReportReceipt-first-title {
    font-size: 12px;
    font-weight: 500;
}

.ReportReceipt-second-title {
    font-size: 12px;
    font-weight: 500;
}

.ReportReceipt-domain {
    font-size: 10px;
    font-weight: 500;
}

.ReportReceipt-black-title {
    font-size: 14px;
    font-weight: 500;
    color: black;
    border: solid 3px black;
    border-radius: 5px;
}

.ReportReceipt-under-black-title {
    font-size: 11px;
    font-weight: 500;
}

.ReportReceipt span.Bold {
    font-size: 18px;
    font-weight: 500;
}

.ReportReceipt-prompt {
    font-size: 12px;
    font-weight: 500;
    border-top: solid 3px black;
}

.ReportReceipt-doctor,
.ReportReceiptDetail {
    display: flex;
}

.ReportReceipt-doctor img {
    width: 30px;
    height: 30px;
    padding: 0;
}

.ReportReceiptDetail img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding: 3px;
}

.ReportReceipt-doctor h1,
.ReportReceiptDetail label {
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 10px;
}

.ReportReceiptDetail p {
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
}

----------

@page {
    margin: 0 0 0 0;
}

.ParaclinicDetail:not(:last-child) {
    border-bottom: 1px dashed black;
    margin-bottom: 5px
}

.ParaclinicReceipt {
    max-width: 100mm;
    margin: auto;
    padding: 10px;
    color: #000;
    border: solid 3px #000;
}

.ParaclinicReceipt svg {
    width: 100%;
}

.ParaclinicReceipt-circle {
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
    border: solid 3px #000;
    border-radius: 50%;
}

.ParaclinicReceipt-first-title {
    font-size: 12px;
    font-weight: 500;
}

.ParaclinicReceipt-second-title {
    font-size: 12px;
    font-weight: 500;
}

.ParaclinicReceipt-domain {
    font-size: 10px;
    font-weight: 500;
}

.ParaclinicReceipt-black-title {
    font-size: 14px;
    font-weight: 500;
    color: black;
    border: solid 3px black;
    border-radius: 5px;
}

.ParaclinicReceipt-under-black-title {
    font-size: 11px;
    font-weight: 500;
}

.ParaclinicReceipt span.Bold {
    font-size: 18px;
    font-weight: 500;
}

.ParaclinicReceipt-prompt {
    font-size: 12px;
    font-weight: 500;
    border-top: solid 3px black;
}

.ParaclinicReceiptDetailContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-wrap: break-word;
    width: 100%;
}

.ParaclinicReceipt-doctor,
.ParaclinicReceiptDetail {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    overflow-wrap: break-word;
}

.ParaclinicReceipt-doctor img {
    width: 30px;
    height: 30px;
    padding: 0;
}

.ParaclinicReceiptDetail img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding: 3px;
}

.ParaclinicReceipt-doctor h1,
.ParaclinicReceiptDetail label {
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 3px;
}

.ParaclinicReceiptDetail p {
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
}