<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="electronlib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <electronlib.Properties.Settings>
            <setting name="electronlib_WebReference_WebAppointmentService"
                serializeAs="String">
                <value>http://25.107.108.77:8080/RayavaranWebServices/WCF/WebAppointmentService.svc</value>
            </setting>
        </electronlib.Properties.Settings>
    </applicationSettings>
</configuration>