.PageParaclinicReceptions h4 ,.PageParaclinicReceptions span {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.PageParaclinicReceptions h5 {
    font-size: 25px;
    margin-bottom: 15px;
}